{% extends "PafpfcBundle::layout.html.twig" %}

{% block title %} Contacto {% endblock %}

{% block contenido %}

<h1>Contacto</h1>
</br></br>

Esperamos que todo sea de tu agrado, si tienes cualquier problema o duda por favor, haznoslo saber: 
</br></br>
Llamanos: 
</br>
Tel&eacute;fonos: +0034 96 333669 y +0034 96 333668
</br>
Fax: 96 333669
</br></br>
Tambien nos puedes encontrar en nuestra tienda en: 
</br>
<strong>Calle de Vera, 14, 46020 Valencia, Espa&ntilde;a.</strong>
</br></br></br>
Aqu&iacute; puedes encontrarnos en el mapa: </br>
<iframe width="650" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?q=39.483152,-0.347207&amp;num=1&amp;hl=es&amp;ie=UTF8&amp;ll=39.481889,-0.346997&amp;spn=0.004029,0.006647&amp;t=m&amp;z=14&amp;iwloc=r4&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?q=39.483152,-0.347207&amp;num=1&amp;hl=es&amp;ie=UTF8&amp;ll=39.481889,-0.346997&amp;spn=0.004029,0.006647&amp;t=m&amp;z=14&amp;iwloc=r4&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa m&aacute;s grande</a></small>
</p>
Aqu&iacute; puedes ver la tienda: </br>
<iframe width="650" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?q=39.483152,-0.347207&amp;layer=c&amp;sll=39.483214,-0.347171&amp;cbp=13,101.77,,0,0.02&amp;cbll=39.483263,-0.347478&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;panoid=M_g03vXsIKxPVCs5XtumBw&amp;source=embed&amp;ll=39.475773,-0.347443&amp;spn=0.026103,0.060081&amp;z=14&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.es/maps?q=39.483152,-0.347207&amp;layer=c&amp;sll=39.483214,-0.347171&amp;cbp=13,101.77,,0,0.02&amp;cbll=39.483263,-0.347478&amp;hl=es&amp;ie=UTF8&amp;t=m&amp;panoid=M_g03vXsIKxPVCs5XtumBw&amp;source=embed&amp;ll=39.475773,-0.347443&amp;spn=0.026103,0.060081&amp;z=14" style="color:#0000FF;text-align:left">Ver mapa m&aacute;s grande</a></small>
</p>

{%endblock%}
    
{% block lateral %}
        
        {{ parent()}}

{% endblock %}
