{% extends "PafpfcBundle::layout.html.twig" %}

{% block title %} Privacidad {% endblock %}

{% block contenido %}

<h1>Privacidad</h1>


<p><span></span></p>
<h2>POL&Iacute;TICA  DE PRIVACIDAD</h2>
</br></br>
Nuestra pol&iacute;tica de privacidad describe como recogemos, 
    guardamos o utilizamos la informaci&oacute;n que recabamos a trav&eacute;s de los diferentes servicios o 
    p&aacute;ginas disponibles en este sitio. Es importante que entienda que informaci&oacute;n recogemos y como la utilizamos ya que 
    el acceso a este sitio implica la aceptaci&oacute;n nuestra pol&iacute;tica de privacidad.</p>
<h3>Cookies</h3>
</br></br>
El acceso a este puede implicar la utilizaci&oacute;n de cookies. 
    Las cookies son peque&ntilde;as cantidades de informaci&oacute;n que se almacenan en el navegador utilizado por cada 
    usuario para que el servidor recuerde cierta informaci&oacute;n que posteriormente pueda utilizar. 
    </br>
    </br>
    Esta informaci&oacute;n permite identificarle a usted como un usuario concreto y permite guardar sus preferencias personales, 
    as&iacute; como informaci&oacute;n t&eacute;cnica como puedan ser visitas o p&aacute;ginas concretas que visite.


{%endblock%}
    
{% block lateral %}
        
        {{ parent()}}

{% endblock %}
