{% extends "PafpfcBundle::layout.html.twig" %}

{% block contenido %}

<h1>Datos Requeridos por Paypal para pagar</h1>
</br>
Aqui estaria el formulario para paypal que me devuelve despues un correcto o erroneo </br>
Pero tambien aparecerian los datos de direccion del pedidotodo ello sera un formulario que enviara la info por POST </br>
Por ahora sera solo un boton para controlar si ha ido bien o ha habido un error: </br>

<a href="{{ path('pedido_compracorrecta') }}"> La compra ha ido bien </a></br>

<a href="{{ path('pedido_errorcompra') }}"> La compra ha ido mal </a></br>

{%endblock%}
    
{% block lateral %}
        
        {{ parent()}}

{% endblock %}
